<div class="container-fluid">
<div class="page-header">
  <h1>About Me <small>Duron Epps</small></h1>
</div>
<div class="right-col">
<h3>I am a web developer based in Manhatten, New York. I specialise in website design and development.</h3>
<p>I create beautiful, usable, professional websites. All my websites are lovingly hand coded.</p>
<p>When I design websites on the front end the weapons I use is Photoshop, CSS, Bootstrap. On the back-end I use ruby and the rails framework.</p>
<p>I use git for version control and heroku for deployment</p>
<h4>I am currently available for freelance work</h4>
</div>
</div>