<h1>Game Art</h1>
<!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BKHN5RDJUak" frameborder="0" allowfullscreen></iframe>
  
</div>
<br>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8WIncfqZx-E" frameborder="0" allowfullscreen></iframe>
  
</div>



<div class="transitions-enabled" id="posts">
    <% @posts.each do |post| %>
        <div class="box panel panel-default">
            
        <%= link_to (image_tag post.image.url), post %>
        </div>
        <div class="panel-body">
            <p> <%= post.title %> </p>
            
        </div>
         
        
   <% end %>
    
</div>

