

     <div class="container">
         <h2>DURON EPPS</h2>
    <img src="http://www.masymbol.com/assets/masymbol/web_dev.png" class="img-responsive" > 
    <div class="content">
      
  
  </div>
  </div>


