
<div class="container-fluid">
    <div class="page-header">
  <h1>Portfolio <small>Web Development</small></h1>
</div>
<div class="center">
  
  <div class="col-xs-12 col-md-8">
      <h3>Ask about the universe web App</h3>
         <p>This is a web app i made where you can ask question about the universe and then people can answer your questions</p>
     <a href="https://fast-fjord-85254.herokuapp.com/">Ask questions about the universe Website</a>
      
      <%= image_tag "/assets/app1.png", :class => "img-responsive" %> 
      
         
  
  </div>
  
</div>
