

#logo{
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
#nav{
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    
}
.center{
    text-align: center;
}

.jumbotron{
    background-image: url('/assets/web_dev.png');
    background-size: cover;
    height: 550px;
}

.jumbotron h2{
    color: black;
    text-align: center;
    margin-top: 100px;
    
}
.li{
    color: white;
}



.row{
    margin-bottom: 0px;
}


.content h2{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;
}
.page-header{
    margin-left: 20px;
}
.right-col{
    
    width: 460px;
    margin-left: 300px;
    padding:0;
    color: black;
}



p{
    font-size: 20px;
}

.grid-sizer,
.grid-item { width: 20%; }
/* 2 columns */
.grid-item--width2 { width: 40%; }

