<div class="container">
    <footer class ="footer">
        <small>Copyright &copy; <a href="#">Duron Epps</a>
        <%= link_to 'Admin', new_admin_session_path %>
        </small>
    </footer>
</div>